*.tlog
*.idb
*.pdb
*.lastbuildstate
*.log
*.unsuccessfulbuild
*.ipch
*.obj
*.suo
*.sdf
*.opensdf
*.ilk
*.exe
*.manifest
*.exp
simple3d_debug.lib
simple3d.lib
Simple3D*.lib
simple*.lib
simple3d_debug.lib
Simple3D_VisualStudio2010Express/Simple3D_VisualStudioExpress/Debug/simple3d_debug.lib
